{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% add_lang_files "firefox/new/trailhead" %}

{% extends "firefox/new/base_download.html" %}

{% block experiments %}{% endblock %}

{% block site_header %}{% endblock %}

{% set hero_title = _('Get the latest Firefox browser.') %}

{% if l10n_has_tag('firefox-new-skyline') %}
  {% set hero_tagline = _('Automatic privacy is here. Download Firefox to block over 2000 trackers.') %}
  {% set card1_title = _('See what’s being blocked') %}
  {% set card1_desc = _('Firefox shows you how many data-collecting trackers are blocked with <strong>Enhanced Tracking Protection</strong>.') %}
  {% set card1_class = 'skyline-etp' %}
  {% set card2_title = _('Make your passwords portable') %}
  {% set card2_desc = _('<strong>Firefox Lockwise</strong> makes the passwords you save in Firefox secure and available on all your devices.') %}
  {% set card2_class = 'skyline-lockwise' %}
  {% set card3_title = _('Watch for data breaches') %}
  {% set card3_desc = _('<strong>Firefox Monitor</strong> alerts you if we know your information is a part of another company’s data breach.') %}
  {% set card3_class = 'skyline-monitor' %}
{% else %}
  {% set hero_tagline = _('And start getting the respect you deserve with our family of privacy-first products.') %}
  {% set card1_title = _('Join Firefox') %}
  {% set card1_desc = _('Connect to a whole family of respectful products plus all the knowledge you need to protect yourself online.') %}
  {% set card1_class = 'join' %}
  {% set card2_title = _('Passwords made portable') %}
  {% set card2_desc = _('<strong>Firefox Lockwise</strong> makes the passwords you save in Firefox available on all your devices.') %}
  {% set card2_class = 'lockwise' %}
  {% set card3_title = _('Protect your privacy') %}
  {% set card3_desc = _('<strong>Private Browsing</strong> clears your history to keep it secret from anyone who uses your computer.') %}
  {% set card3_class = 'private' %}
{% endif %}

{% block aside %}
{% if l10n_has_tag('join_firefox_072019') %}
<aside class="mzp-u-modal-content join-firefox-content">
  {# L10n: The phrase “Now get even more from Firefox” is in specific reference to signing up for an account, which unlocks access to all our new products and services. #}
  <h4 class="join-firefox-title">{{ _('You’ve already got the browser. Now get even more from Firefox.') }}</h4>
  <p class="join-firefox-intro">{{ _('Watch for hackers with Firefox Monitor, protect passwords with Firefox Lockwise, and more.') }}</p>

  <a href="{{ url('firefox.accounts') }}" class="mzp-c-button mzp-t-product join-firefox-button" data-link-name="Get More From Firefox" data-link-type="button">{{ _('Get More From Firefox') }}</a>

  {{ download_firefox(dom_id='download-join-firefox-modal', alt_copy=_('Just Download The Browser'), button_color='mzp-t-secondary', locale_in_transition=True, download_location='other') }}
</aside>
{% endif %}

{% endblock %}

{% block js %}
  {{ super () }}

  {% if l10n_has_tag('join_firefox_072019') %}
    {{ js_bundle('firefox_new_download_join_modal') }}
  {% endif %}
{% endblock %}

{% block structured_data %}
{
"@context": "https://schema.org/",
"@graph": [
{% include 'includes/structured-data/software/firefox-browser-software.json' %}
,
{% include 'includes/structured-data/breadcrumb/new.json' %}
]
}
{% endblock %}
