// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

/* -------------------------------------------------------------------------- */
// Conditional small links shown for desktop / android / ios

.header-content .small-links {
//    @include font-size-small;
    margin-top: 60px;

    li {
        margin-bottom: 10px;
    }

    a:link,
    a:visited {
        color: #fff;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
        }
    }

    &.hidden,
    &.android,
    &.ios {
        display: none;
    }
}

html.android .header-content {
    .small-links.desktop,
    .small-links.ios {
        display: none;
    }

    .small-links.android {
        display: block;
    }
}

html.ios .header-content {
    .small-links.android,
    .small-links.desktop {
        display: none;
    }

    .small-links.ios {
        display: block;
    }
}
